*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    text-align: center;
}
body{
    height: 100vh;
    width: 100vw;
}
main{
    padding-top: 5vh;
}
a{
    text-decoration: none;
}
#join{
    color: gray;
}
#bengali{
    font-family: 'Hind Siliguri';
}
#preview{
    max-height: 285px;
}
.fab{
    font-size: 20px;
    padding: 10px;
}
.icon{
    display: inline;
}
#facebook{
   color: #3b5998;
}
#twitter{
   color:#00acee ;
}
#instagram{
   color: #e71010 ;
}
#website{
   color: lightblue ;
}
#youtube{
    color: red;
}
.btn{
    background: linear-gradient(to right,#00A3FF,#01D1FF);
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    color: white;
    box-shadow: 0px 0px 15px lightgray;
}
.btn:hover{
    background:linear-gradient(to right,lime,lightgreen);
    color: black;
}
#download2{
    max-height: 300px;
}